.happy {
    text-align: center;
    background-image: url('../images/banner.png');
    padding-top: 110px;
    padding-bottom: 110px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.happy {

    background-repeat: no-repeat;
}

.year {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.new {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.red {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}

.redt {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.redth {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.middle {
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.photo {
    width: 802.9px;
    height: 500px;
    margin-left: 200px;
}

.welcome {
    display: flex;
    justify-content: space-between;
    background-image: url('../images/Vectorrr.png');
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 30px;
    padding-bottom: 110px;
    background-repeat: no-repeat;
}

.welcome h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.welcome p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.welcome h2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.mid {
    padding-left: 70px;
}

.saal {
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.amiddle {
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 6000;
    line-height: 40px;
    text-transform: capitalize;
    background-color: rgb(240, 195, 201);
    margin-top: 70px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 70px;
    margin-left: 70px;
    margin-right: 70px;
}

.amiddle span {
    color: #F00;
}

.jcolor {
    background-color: #F00;
    padding: 10px 10px 10px 10px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #FFF;
}

.come {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #FFF;
}

.best h4 {
    color: #F00;
}

.two h1 {
    color: #F00;
}

.mom {
    border-image: round;
    border-radius: 463px;
    border: 10px solid #F00;
    padding: 15px 15px 15px 15px;
}

.lmiddle {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.ch {
    color: #F00;
}

.nphoto one,
four {
    display: inline-flex;
}

.colorc {
    color: #F00;
}

.bagimage {
    background-image: repeat none;
    margin-left: 10px;
    margin-right: 5px;
}

.discount {
    display: flex;
    margin-left: 640px;
}

.bbb {
    background-image: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 70px;
    margin-right: 70px;
}

.hi {
    margin-left: 70px;
}

.bagimage {
    margin-left: 70px;
}

.kmiddle {
    text-align: center;
    font-size: larger;
    font-weight: 900;
    line-height: normal;
}

.kmiddle {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 80px;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 70px;
    margin-right: 70px;
}

.redd {
    background-color: #F00;
    font-size: larger;
}

.redi {
    font-size: larger;
}

.box {
    background: #070211;
    margin-left: 0;
    margin-right: 0;
    padding-left: 70px;
    padding-right: 70px;
}

.foot {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}

.picture {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-color: rgba(255, 255, 255, 0.15);
    border-style: solid;
    border-left: 0;
    border-right: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.rights {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: space-between;