.happy {
    background-image: url(../images/banner.png)
}

.happy {
    background-size: 100%;
    background-repeat: no-repeat;
    background: top 50px;
    border: 140px 140px;
    padding-top: ;
    border-radius: 16px;

}

.happy {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 283px 484px 484px 283px;
}

.middle {
    text-align: center;
}

.red {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.redt {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.redth {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.photo {
    width: 802.9px;
    height: 500px;
}

.bphoto {
    background-image: url(../images/Vectorrr.png);
}

.bphoto {
    background-size: 100%;
    background-repeat: no-repeat;
}

.bphoto {
    color: #FFF;
    font-family: Merriweather;
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.amiddle {
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    background-color: rgb(255, 182, 216);

}

.jolor {
    color: white;
    background-color: #F00;
}

.line {
    display: flex;
}

.lmiddle {
    text-align: center;
}

.ch {
    color: #F00;
}

.nphoto one,
four {
    display: inline-flex;
}

.colorc {
    color: #F00;
}

.bagimage {
    background-image: repeat none;
}

.kmiddle {
    text-align: center;
    font-size: larger;
    font-weight: 900;
    line-height: normal;
}

.redd {
    background-color: #F00;
    font-size: larger;
}

.redi {
    font-size: larger;
}
.dis{
    display: flex;
    
}